<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user["username"]}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
        .img-wrap{
            width:100%;
        }
		.img-wrap img{
            width: 24%;padding: 10px;border-radius:50%;box-shadow: 0 0 10px #999999
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
    <!--------------------------navbar------------------->
    <div class="col-sm-12 navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <a href="#" class="navbar-brand">BLOG</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link" href="/feed">HOME</a>
                </li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                     <a class="nav-link" href="/user">PROFILE</a>
               </li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link" href="/logout">LOGOUT</a>
                </li>
          </ul>
        </div>
  </div>
    <!-------------------user detail-------------------------->
            <div class="w-100"></div>
            <div class="col-sm-12">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="img-wrap">
                                <img src="static/{{user['dp']}}" alt="profile pic">
                            </div>
                            <br>
                            <p class="h3">{{user["fname"]}} {{user["lname"]}}</p>
                            <p class="text-muted">@{{user["username"]}}</p>
                            <a href="/user/edit" class="nav-link">Edit Profile</a>
                            <a href="/create_post" class="nav-link">Add Post</a>
                        </div>
                    </div>
                </div>
            </div> 
    <!----------------------post----------------------------->        
            <div class="w-100"></div>
            <div class="col-sm-12 text-center">
                {% if post %}
                    {% for i in post %}
                        <a href="/get_post/{{i['_id']}}">
                            <div class="card" style="width: 18rem;">
                                <div class="card-header text-muted">
                                    on {{i["day"]}}/{{i["month"]}}/{{i["year"]}}
                                  </div>
                                {% if i["file"] %}
                                <img src="static/{{i['file']}}" class="card-img-top img-fluid" alt="...">
                                {% end %}
                                <div class="card-body">
                                  <p class="card-text">{{i["blog"]}}</p>
                                  <a class="btn btn-success btn-sm">Like <span>{{sum(i["like"])}}</span></a>
                                  <a class="btn btn-danger btn-sm">Dislike <span>{{sum(i["dislike"])}}</span></a>
                                  <a href="/get_post/{{i['_id']}}" class="btn btn-light btn-sm text-muted">comments <span>{{len(i["comment"])}}</span></a>
                                </div>
                              </div>
                        </a>
                    {% end %}
                {% else %}
                    <p>No Post Available</p>
                {% end %}
            </div>
        </div>
    </div>
</body>
</html>